.mobile-nav-link{

    position:relative;

    transition:.25s ease;
}


.mobile-nav-link.active{

    color:#7CFF7C;
}


.mobile-nav-link.active::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-10px;

    width:64px;
    height:3px;

    border-radius:999px;

    background:#63d84e;

    box-shadow:
    0 0 8px rgba(99,216,78,.9),
    0 0 18px rgba(99,216,78,.7);
}