<div
    class="mobile-menu"
    id="mobileMenu">

    <div class="mobile-menu-inner">

        <button
            class="mobile-close-btn"
            id="mobileCloseBtn">

            ×

        </button>

        <a href="../html/home.html">
            Home
        </a>

        <div class="mobile-product-group">

            <div class="mobile-product-title">
                Products
            </div>

            <a href="../html/disc-diffuser.html">
                Disc Diffusers
            </a>

            <a href="../html/tube-diffuser.html">
                Tube Diffusers
            </a>

        </div>

        <a href="../html/about.html">
            About Us
        </a>

        <a href="../html/download.html">
            Download
        </a>

    </div>

</div>