<footer>

    <div class="container footer-grid">

        <div class="footer-info">

            <h4>
                EnviroValor 雄威
            </h4>

            <dl>

                <div>
                    <dt>電子郵件</dt>
                    <dd><a href="mailto:info@envirovalor.com">info@envirovalor.com</a></dd>
                </div>

                <div>
                    <dt>電話</dt>
                    <dd><a href="tel:+88634031234">03-403-1234</a></dd>
                </div>

                <div>
                    <dt>營業時間</dt>
                    <dd>週一至週五 08:30–17:30</dd>
                </div>

                <div class="footer-address">
                    <dt>地址</dt>
                    <dd>
                        桃園市平鎮區中豐路南勢二段 460 巷 120-2 號
                        <a
                            class="map-link"
                            href="https://www.google.com/maps/search/?api=1&amp;query=雄威環境科技有限公司+桃園市平鎮區中豐路南勢二段460巷120-2號"
                            target="_blank"
                            rel="noopener noreferrer">在地圖上查看 →</a>
                    </dd>
                </div>

            </dl>

        </div>

        <iframe
            class="map"
            title="雄威環境科技有限公司地圖"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q=雄威環境科技有限公司+桃園市平鎮區中豐路南勢二段460巷120-2號&amp;output=embed">
        </iframe>

    </div>

    <div class="container copyright">

        <span>
            © 2026 EnviroValor 版權所有
        </span>

    </div>

</footer>
