<div
    class="mobile-menu"
    id="mobileMenu">

    <div class="mobile-menu-inner">

        <button
            class="mobile-close-btn"
            id="mobileCloseBtn">

            ×

        </button>

        <a
            href="../zh/index.html"
            class="mobile-nav-link"
            data-mobile-page="home">

            首頁

        </a>

        <div class="mobile-product-group">

            <div class="mobile-product-title">
                產品介紹
            </div>

            <a
                href="../zh/disc-diffuser.html"
                class="mobile-nav-link"
                data-mobile-page="disc">

                散氣盤

            </a>

            <a
                href="../zh/tube-diffuser.html"
                class="mobile-nav-link"
                data-mobile-page="tube">

                散氣管

            </a>

        </div>

        <a
            href="../zh/about.html"
            class="mobile-nav-link"
            data-mobile-page="about">

            關於我們

        </a>

        <a
            href="../zh/download.html"
            class="mobile-nav-link"
            data-mobile-page="download">

            型錄下載

        </a>

        <button
        class="mobile-contact-btn"
        id="mobileInquiryBtn">

        聯絡我們

        </button>

    </div>

</div>