<footer>

    <div class="container footer-grid">

        <div class="footer-brand">

            <h4>
                EnviroValor
            </h4>

            <p>
                Taiwan-based supplier for wastewater treatment and aeration products.
            </p>

            <img
                class="footer-logo"
                src="../../images/logo.jpg"
                alt="EnviroValor Logo">

        </div>

        <div>

            <h4>
                Contact Information
            </h4>

            <ul>

                <li>
                    Email: info@envirovalor.com
                </li>

                <li>
                    Tel: +886-3-403-1234
                </li>

                <li>
                    Business Hours: Mon–Fri 08:30–17:30
                </li>

            </ul>

        </div>

        <div>

            <h4>
                No. 120-2, Ln. 460, Sec. 2, Zhongfeng Rd., Pingzhen Dist., Taoyuan City, Taiwan
            </h4>

            <iframe
                class="map"
                loading="lazy"
                src="https://www.google.com/maps?q=桃園市平鎮區中豐路南勢二段460巷120-2號&output=embed">
            </iframe>

        </div>

    </div>

    <div class="container copyright">

        <span>
            © 2026 EnviroValor. All rights reserved.
        </span>

        <span>
            Wastewater Aeration Products
        </span>

    </div>

</footer>