<footer>

    <div class="container footer-grid">

        <div class="footer-info">

            <h4>
                EnviroValor
            </h4>

            <dl>

                <div>
                    <dt>Email</dt>
                    <dd><a href="mailto:info@envirovalor.com">info@envirovalor.com</a></dd>
                </div>

                <div>
                    <dt>Tel</dt>
                    <dd><a href="tel:+88634031234">+886-3-403-1234</a></dd>
                </div>

                <div>
                    <dt>Hours</dt>
                    <dd>Mon–Fri 08:30–17:30</dd>
                </div>

                <div class="footer-address">
                    <dt>Address</dt>
                    <dd>
                        No. 120-2, Ln. 460, Sec. 2, Zhongfeng Rd., Pingzhen Dist., Taoyuan City, Taiwan
                        <a
                            class="map-link"
                            href="https://www.google.com/maps/search/?api=1&amp;query=雄威環境科技有限公司+桃園市平鎮區中豐路南勢二段460巷120-2號"
                            target="_blank"
                            rel="noopener noreferrer">View on map →</a>
                    </dd>
                </div>

            </dl>

        </div>

        <iframe
            class="map"
            title="EnviroValor location map"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q=雄威環境科技有限公司+桃園市平鎮區中豐路南勢二段460巷120-2號&amp;output=embed">
        </iframe>

    </div>

    <div class="container copyright">

        <span>
            © 2026 EnviroValor. All rights reserved.
        </span>

    </div>

</footer>
