<div
    class="mobile-menu"
    id="mobileMenu">

    <div class="mobile-menu-inner">

        <button
            class="mobile-close-btn"
            id="mobileCloseBtn">

            ×

        </button>

        <a
            href="../html/home.html"
            class="mobile-nav-link"
            data-mobile-page="home">

            Home

        </a>

        <div class="mobile-product-group">

            <div class="mobile-product-title">
                Products
            </div>

            <a
                href="../html/disc-diffuser.html"
                class="mobile-nav-link"
                data-mobile-page="products">

                Disc Diffusers

            </a>

            <a
                href="../html/tube-diffuser.html"
                class="mobile-nav-link"
                data-mobile-page="products">

                Tube Diffusers

            </a>

        </div>

        <a
            href="../html/about.html"
            class="mobile-nav-link"
            data-mobile-page="about">

            About Us

        </a>

        <a
            href="../html/download.html"
            class="mobile-nav-link"
            data-mobile-page="download">

            Download

        </a>

    </div>

</div>